<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section
      name="rabbitMQ"
      type="MerQure.RbMQ.Config.RabbitMqConfigurationSection, MerQure.RbMQ"
      restartOnExternalChanges="true"
      allowLocation="true"
      allowDefinition="Everywhere" />
  </configSections>

  <rabbitMQ configSource="rabbitMQ.config"/>

</configuration>