<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="rabbitMQ" type="MerQure.RbMQ.Config.RabbitMqConfigurationSection, MerQure.RbMQ" requirePermission="false" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>


  <rabbitMQ   durable="true"
  autoDeleteQueue="false"
  defaultPrefetchCount="10"
  publisherAcknowledgementsTimeoutInMilliseconds="100000">

    <connection
      connectionString="amqp://guest:guest@localhost:5672/"
      automaticRecoveryEnabled="true"
      topologyRecoveryEnabled="true" />
  </rabbitMQ>
  
</configuration>